.dinner-ticket-container{
    grid-column: span 4;
    grid-row: span 2;
    display: flex;
    flex-flow: column;
    min-height: 20rem;
}
.dinner-ticket-client{
    color: black;
    width: 241px;
    font-size: 24px;
    align-self: flex-end;
    margin-right: 2%;

}
.dinner-ticket-ps{
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.dinner-ticket-buttons{
    grid-column: span 4;
    grid-row: span 1;
    display: flex;
    justify-content: space-between;
    margin: 0 3rem 0 3rem;

}
.btn-plus-minus-dinner{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.dinner-ticket-name, .dinner-counter, .dinner-ticket-price, .total-ticket{
    color: black;
}

.ticket-main{
    display: flex;
    justify-content: space-around;
}
.just-total{
    color: #f6f6f6;
    font-size: 1px;
}