.dinner-status-header{
    grid-column: span 4;
    grid-row: span 1;
}
.nav-bar-dinner{
    grid-column: span 4;
    grid-row: span 1;
}

.main-dinner-status{
    grid-column: span 4;
    grid-row: span 6;
    overflow: auto;
}