.dinner-sushi-menu-header{
    grid-column: span 4;
    grid-row: span 1;
}
.nav-bar-dinner{
    grid-column: span 4;
    grid-row: span 1;
}

.products{
    grid-column: span 4;
    grid-row: span 3;
    overflow: auto;
    display: flex;
    justify-content: center;
}

.ticket{
    grid-column: span 4;
    grid-row: span 3;
    background-color: #f6f6f6;
    overflow: auto;
}

.products-sushi-menu{
    width: 200px;
    height: 200px;
}

.send-kitchen-button{
    width: 20.70vw;
    height: 5vh;
    font-size: 18px;
    border-width: 5px;
    border-radius: 4px;
    background-color: #399d5a75;
    color: #313133;
    border: #399D5A 5px solid;
}

.reset-kitchen-button {
  width: 20.70vw;
  height: 5vh;
  font-size: 18px;
  border-width: 5px;
  border-radius: 4px;
  background-color: #ec928f75;
  color: #313133;
  border: #EC928F 5px solid;
}

/*scrollbar style*/
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(146, 133, 156, 0.148);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.916);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(134, 129, 129);
  }
  
